@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --blue: #3498db;
  --dark-blue: #2980b9;
  --red: #e74c3c;
  --dark-red: #c0392b;
  --black: #333;
  --white: #fff;
  --light-bg: #eee;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

.form-container {
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-container form {
  padding: 20px;
  background-color: #fff;
  text-align: center;
  width: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 220px;
}

.form-container form .box {
  width: 100%;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 17px;
  color: #333;
  margin: 12px 0;
  background-color: #eee;
}

.form-container form h1 {
  margin-bottom: 12px;
  font-size: 32px;
  color: #333;
  text-transform: uppercase;
}

.btn {
  background-color: #3498db;
}

.btn:hover {
  background-color: #2980b9;
}

.btn-delete:hover {
  background-color: #c0392b;
}

.btn,
.btn-delete {
  width: 100%;
  border-radius: 6px;
  padding: 12px 32px;
  color: #fff;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  margin-top: 10px;
}

.btn-delete {
  background-color: var(--red);
}

.form-container form p {
  margin-top: 16px;
  font-size: 21px;
  color: #333;
}

.form-container form p a {
  color: #e74c3c;
}

.form-container form p .forgot-password {
  color: #2980b9;
}

.message {
  margin: 5px 0;
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  background-color: #e74c3c;
  color: #fff;
  font-size: 20.5px;
}

.success_message {
  margin: 5px 0;
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  background-color: #008000;
  color: #fff;
  font-size: 20.5px;
}

.form-message {
  font-size: 10px;
  line-height: 1.6rem;
  color: #f33a58;
}

.invalid {
  border-color: #f33a58;
  color: #f33a58;
}

.update-profile {
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.update-profile form {
  padding: 20px;
  background-color: #fff;
  text-align: center;
  width: 700px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 200px;
}

.update-profile form h1 {
  margin-bottom: 12px;
  font-size: 32px;
  color: #333;
  text-transform: uppercase;
}

/* .update-profile form img {
    height:210px;
    width: 210px;
    border-radius: 60%;
    object-fit: cover;
    margin-bottom: 5px;
} */

.update-profile form .flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 15px;
}

.update-profile form .flex .input-box {
  width: 50%;
}

.update-profile form .flex .input-box span {
  text-align: left;
  display: block;
  margin-top: 18px;
  font-size: 20px;
  color: #333;
}

.update-profile form .flex .input-box .box {
  width: 100%;
  border: radius 6px;
  background-color: #eee;
  padding: 14px 16px;
  font-size: 15px;
  margin-top: 12px;
  color: #333;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer> :not(:first-child) {
  margin-left: 0.25rem;
}

.btn-cart {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem;
}

h5.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#cart {
  font-size: 15px;
  color: #fff;
  background: #c7b200;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  margin-left: 1rem;
  padding: 12px;
  cursor: pointer;
}

#cart:hover {
  border-color: #fff;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

/* Responsive */
@media (max-width: 650px) {
  .update-profile form .flex {
    flex-wrap: wrap;
    gap: 0;
  }

  .update-profile form .flex .input-box {
    width: 100%;
  }
}